# Викторина
в которой предполагается единственный верный ответ на каждый вопрос

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('imdb_data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answers = {}  # ответы на вопросы теста

data = data.assign(
    release_date=lambda row: pd.to_datetime(row.release_date),
    margin=lambda row: row.revenue - row.budget)

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
data[data.budget == data.budget.max()][['imdb_id', 'original_title']]

       imdb_id     original_title
491  tt1032751  The Warrior's Way

In [6]:
answers[1] = 4

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data[data.runtime == data.runtime.max()][['imdb_id', 'original_title']]

        imdb_id     original_title
1158  tt0279111  Gods and Generals

In [8]:
answers[2] = 2

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data[data.runtime == data.runtime.min()][['imdb_id', 'original_title']]

       imdb_id   original_title
769  tt1449283  Winnie the Pooh

In [10]:
answers[3] = 3

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
data.runtime.mean().round()

110.0

In [12]:
answers[4] = 2

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
data.runtime.median().round()

106.0

In [14]:
answers[5] = 1

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data[data.margin == data.margin.max()][['imdb_id', 'original_title']]

       imdb_id original_title
239  tt0499549         Avatar

In [16]:
answers[6] = 5

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
data[data.margin == data.margin.min()][['imdb_id', 'original_title']]

       imdb_id     original_title
491  tt1032751  The Warrior's Way

In [18]:
answers[7] = 2

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [19]:
len(data[data.margin > 0])

1478

In [20]:
answers[8] = 1

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
sample = data.query('release_year == 2008').query('margin == margin.max()')
sample[['imdb_id', 'original_title']]

       imdb_id   original_title
600  tt0468569  The Dark Knight

In [22]:
answers[9] = 4

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [23]:
sample = data.query('release_year in [2012,2013,2014]').query('margin == margin.min()')
sample[['imdb_id', 'original_title']]

        imdb_id   original_title
1246  tt1210819  The Lone Ranger

In [24]:
answers[10] = 5

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [25]:
from collections import Counter

In [26]:
genres = Counter()
for row in data.itertuples():
    genres.update(row.genres.split('|'))
genres.most_common(1)

[('Drama', 782)]

In [27]:
answers[11] = 3

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [28]:
genres = Counter()
for row in data[data.margin > 0].itertuples():
    genres.update(row.genres.split('|'))
genres.most_common(1)

[('Drama', 560)]

In [29]:
answers[12] = 1

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [30]:
directors = data.assign(director=data.director.str.split('|')).explode('director')
directors_grouped = directors.groupby('director')

In [31]:
directors_grouped.size().idxmax()

'Steven Soderbergh'

In [32]:
answers[13] = 3

# 14. Кто из режиссеров снял больше всего прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [33]:
def sum_of_positive(series):
    return series.gt(0).sum()

directors_grouped.margin.agg(sum_of_positive).idxmax()

'Ridley Scott'

In [34]:
answers[14] = 4

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [35]:
directors_grouped.margin.sum().idxmax()

'Peter Jackson'

In [36]:
answers[15] = 5

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [37]:
actors = data.assign(cast=data.cast.str.split('|')).explode('cast')

In [38]:
actors.groupby('cast').margin.sum().idxmax()

'Emma Watson'

In [39]:
answers[16] = 1

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [40]:
actors[actors.release_year == 2012].groupby('cast').margin.sum().idxmin()

'Kirsten Dunst'

In [41]:
answers[17] = 3

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов (в которых бюджет выше среднего по данной выборке)?
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [42]:
actors[actors.budget >= actors.budget.mean()].groupby('cast').size().idxmax()

'Matt Damon'

In [43]:
answers[18] = 3

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [44]:
genres = Counter()
for row in actors[actors.cast == 'Nicolas Cage'].itertuples():
    genres.update(row.genres.split('|'))
genres.most_common(1)

[('Action', 17)]

In [45]:
answers[19] = 2

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [46]:
productions = data\
              .assign(production_companies=data.production_companies.str.split('|'))\
              .explode('production_companies')

In [47]:
productions.groupby('production_companies').size().idxmax()

'Universal Pictures'

In [48]:
answers[20] = 1

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [49]:
productions[productions.release_year == 2015].groupby('production_companies').size().idxmax()

'Warner Bros.'

In [50]:
answers[21] = 4

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [51]:
sample = productions[productions.genres.str.contains('Comedy')]
sample.groupby('production_companies').margin.sum().idxmax()

'Universal Pictures'

In [52]:
answers[22] = 2

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [53]:
sample = productions[productions.release_year == 2012]
sample.groupby('production_companies').margin.sum().idxmax()

'Columbia Pictures'

In [54]:
answers[23] = 3

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [55]:
sample = productions[productions.production_companies == 'Paramount Pictures']
sample.loc[sample.margin.idxmin()][['imdb_id', 'original_title']].to_list()

['tt0267626', 'K-19: The Widowmaker']

In [56]:
answers[24] = 1

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [57]:
data.groupby('release_year').margin.sum().idxmax()

2015

In [58]:
answers[25] = 5

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [59]:
sample = productions[productions.production_companies.str.contains('Warner Bros\.')]
sample.groupby('release_year').margin.sum().idxmax()

2014

In [60]:
answers[26] = 1

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [61]:
from calendar import month_name

In [62]:
month = data.groupby(data.release_date.dt.month).size().idxmax()
month_name[month]

'September'

In [63]:
answers[27] = 4

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [64]:
len(data[data.release_date.dt.month.between(6, 8)])

450

In [65]:
answers[28] = 2

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [66]:
# мы используем здесь деление по модулю 12, чтобы упростить нумерацию
# по сезонам: 0 (дек), 1 (янв), 2 (февр), 3 (март), ... 11 (нояб)
sample = data[data.release_date.dt.month.mod(12) <= 2]
sample.groupby('director').size().idxmax()

'Peter Jackson'

In [67]:
answers[29] = 5

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [68]:
ptable = data.pivot_table(
    index=data.release_year, columns=data.release_date.dt.month, values='margin', aggfunc='sum')
# выберем самый прибыльный месяц в каждом году и рассчитаем кол-во уникальных значений
month_stats = ptable.idxmax(axis='columns').value_counts(normalize=True)
month_name[month_stats.idxmax()]

'June'

In [69]:
answers[30] = 2

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [70]:
sample = productions.assign(title_length=productions.original_title.str.len())
sample.groupby('production_companies').title_length.mean().idxmax()

'Four By Two Productions'

In [71]:
answers[31] = 5

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [72]:
# применяем метод `str.len()` к списку слов названия фильма,
# потому что он работает с любыми последовательностями элементов
sample = productions.assign(title_length=productions.original_title.str.split().str.len())
sample.groupby('production_companies').title_length.mean().idxmax()

'Four By Two Productions'

In [73]:
answers[32] = 5

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [74]:
words = set()
for item in data.apply(lambda row: row.original_title.lower().split(), axis='columns'):
    words.update(item)
len(words)

2461

In [75]:
answers[33] = 3

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King, Upside Down
4. 300, Lucky Number Slevin
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [76]:
from functools import partial

In [77]:
one_percent = partial(pd.Series.quantile, q=0.99)
one_percent.__name__ = '1%'

In [78]:
best_titles = data[data.vote_average > data.vote_average.agg(one_percent)].original_title

In [79]:
candidates = [
    ['Inside Out','Gone Girl', '12 Years a Slave'],
    ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
    ['The Lord of the Rings: The Return of the King', 'Upside Down'],
    ['300', 'Lucky Number Slevin'],
    ['Upside Down', '300', 'Inside Out', 'The Lord of the Rings: The Return of the King']
]

[titles for titles in candidates if set(titles).issubset(best_titles)]

[['Inside Out', 'Gone Girl', '12 Years a Slave']]

In [80]:
answers[34] = 1

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [81]:
from itertools import combinations
from collections import Counter

In [82]:
actors_pairs = Counter()
for row in data.itertuples():
    actors_pairs.update(combinations(row.cast.split('|'), 2))
actors_pairs.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [83]:
answers[35] = 5

# 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [84]:
def profit_percent(series):
    return series.gt(0).sum() / series.size

directors_profit = directors.groupby('director').margin.agg(profit_percent)

In [85]:
candidates = [
    'Quentin Tarantino', 
    'Steven Soderbergh', 
    'Robert Rodriguez', 
    'Christopher Nolan', 
    'Clint Eastwood']

directors_profit.filter(items=candidates).idxmax()

'Christopher Nolan'

In [86]:
answers[36] = 4

# Submission

In [87]:
len(answers)

36

In [88]:
pd.DataFrame.from_dict(answers, orient='index', columns=['Answer'])

    Answer
1        4
2        2
3        3
4        2
5        1
6        5
7        2
8        1
9        4
10       5
11       3
12       1
13       3
14       4
15       5
16       1
17       3
18       3
19       2
20       1
21       4
22       2
23       3
24       1
25       5
26       1
27       4
28       2
29       5
30       2
31       5
32       5
33       3
34       1
35       5
36       4